.education-container {
    display: flex;
    flex-direction: column;

    /* background: lightcoral; */
    /* outline: 1px solid black; */
}

.schools {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.title {
    color: #2774ae;
}

hr.style-one {
    border: 0;
    height: 2px;
    background: #2774ae;
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}
