.ExpEntry-container {
    line-height: 1.3;
}

.company-title {
}

.company-name {
    font-style: italic;
    font-weight: 500;
}

.company-date {
    font-style: italic;
}

ul {
    list-style-position: inside;
}

.point-item {
    padding-left: 2rem;
}
